<div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Répartition Demandes ({{countDemandes}} Demandes)</h2>
            </div>
            <div class="card-body" *ngFor="let user of usersBackoffice">
                <form #repartForm="ngForm">
                  
                    <div class="form-row m-b-55">
                        <div class="value">
                            <div class="row row-refine">
                                <div class="col-8">
                                    <div class="input-group-desc">
                                        <select class="input--style-5" style="padding: 10px;" name="agent" ngModel>
                                            <optgroup *ngFor="let user of usersBackoffice">
                                                <option>{{user}}</option>
                                            </optgroup>
                                        </select>

                                        <label class="label--desc">Agent Backoffice</label>
                                    </div>
                                </div>
                               
                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <input class="input--style-5" type="text" name="count" ngModel>
                                        <label class="label--desc">Nombre Demandes</label>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group-desc">
                                        <button class="btn btn--radius-2 btn--red" (click)="onSubmit(repartForm.value)">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                            
        
                    </div>
                    
                   
                </form>
            </div>
        </div>
    </div>
</div>
