
<div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Modifier Un Modem</h2>
            </div>
            <div class="card-body">
                <form #editForm="ngForm">
                    <div class="form-row">
                        <div class="name">Numéro de Série<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" ngModel="{{ModemToUpdate?.modemSN}}" id="modemSN" name="modemSN">
                          
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="name">Login <span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" ngModel="{{ModemToUpdate?.loginConfig}}" id="loginConfig" name="loginConfig">

                               
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Mot de Passe <span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" ngModel="{{ModemToUpdate?.mdpConfig}}" id="mdpConfig" name="mdpConfig">

                            
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <button class="btn btn--radius-2 btn--green" (click)="onUpdateModem(editForm.value)">Modifier</button>
                        <button style="margin-left: 15px;" class="btn btn--radius-2 btn--blue" type="button" (click)="goBack()">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
