<div class="page-wrapper">
    <div class="wrapper wrapper--w790">
        <div class="card card-5">
            <div class="card-heading">
                <h2 class="title">Ajouter Un Offre</h2>
            </div>
            <div class="card-body">
                <form [formGroup]="OffreForm" (ngSubmit)="addOffre()">
                    <div class="form-row">
                        <div class="name">Labelle Offre<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="text" formControlName="labelle" id="labelle" name="labelle">

                                <div *ngIf="f.labelle.invalid && (f.labelle.dirty || f.labelle.touched)" class="alert alert-danger">
                                    <div *ngIf="f.labelle.errors?.required">
                                        Labelle est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="name">Débit Offre<span class="text-danger">*</span></div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-5" type="number" formControlName="debit" id="debit" name="debit">

                                <div *ngIf="f.debit.invalid && (f.debit.dirty || f.debit.touched)" class="alert alert-danger">
                                    <div *ngIf="f.debit.errors?.required">
                                        Débit est obligatoire
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <button class="btn btn--radius-2 btn--red" type="submit">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
