<!-- Listes des commentaires Popup-->
<ng-template #contentMore let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Client de CIN : {{clientToShow.cin}}</h2>
                </div>
                <div class="card-body">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p class="small text-muted ">NOM COMPLET : <span>{{clientToShow.name}}</span></p>
                        <p class="small text-muted ">Date de Naissance : <span>{{clientToShow.dateNaissance}}</span></p>
                        <p class="small text-muted ">ADRESSE COMPLETE: <span>{{clientToShow.adresse}}</span></p>
                        <p class="small text-muted ">CODE POSTAL : <span>{{clientToShow.codePostal}}</span></p>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </ng-template>




<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <div class="col-sm-2 createSegment"> 
                        <a [routerLink]="'/add-client'" class="btn dim_button create_new"><span class="glyphicon glyphicon-plus"></span>Ajouter un client</a>
                    </div>
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:100px;">Nom</th>
                                <th style="min-width:80px;">CIN</th>
                                <th style="min-width:100px;">Email</th>
                                <th style="min-width:100px;">Ville</th>
                                <th style="min-width:50px;">Governorat</th>
                                <th style="min-width:50px;">Télephone</th>
                                <th style="min-width:80px;">Active</th>
                                <th style="min-width:30px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let client of clients">
                                <td>{{client.name}}</td>
                                <td>{{client.cin}}</td>
                                <td>{{client.email}}</td>
                                <td>{{client.ville}}</td>
                                <td>{{client.gouvernorat}}</td>
                                
                                <td>{{client.telephone}}</td>
                                <td>
                                    <span *ngIf="client.active === true" class="mode mode_on">active</span>
                                    <span *ngIf="client.active === false" class="mode mode_off">inactive</span>
                                </td>
                                <td>
                                    <div class="btn-group" placement="top" ngbTooltip="Modifier Client">
                                        <a class=" dropdown_icon" 
                                        (click)="openUpdateClient(client)">
                                        <i class="fa fa-pencil-square-o"></i> </a>
                                        
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Archiver Client">
                                        <a class=" dropdown_icon" 
                                        (click)="ArchiverClient(client)">
                                        <i class='bx bxs-archive'></i> </a>  
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Plus Informations">
                                        <a class=" dropdown_icon" 
                                        (click)="showClient(client , contentMore)">
                                        <i class='bx bxs-show'></i></a>  
                                    </div>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div *ngIf="!clients" class="alert alert-warning">
                        <h2>Aucun Client Trouvé</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>