<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:150px;">Réference Tunisie Télecom</th>
                                <th style="min-width:150px;">Etat Tunisie Télecom</th>
                                <th style="min-width:200px;">Agence Livraison</th>
                                <th style="min-width:100px;">Client</th>
                                <th style="min-width:100px;">Offre</th>
                                <th style="min-width:100px;">Active</th>
                                <th style="min-width:50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let abonnement of abonnements">
                                <td>{{abonnement.refTT}}</td>
                                <td>{{abonnement.etatTT}}</td>
                                <td>{{abonnement.agenceLivraison}}</td>
                                <td>{{abonnement.demandeAbonnement.client.name}}</td>
                                <td>{{abonnement.demandeAbonnement.offre.labelle}}</td>
                                <td>
                                    <span *ngIf="abonnement.active === true" class="mode mode_on">active</span>
                                    <span *ngIf="abonnement.active === false" class="mode mode_off">inactive</span>
                                </td>
                                <td>
                                    <div class="btn-group" placement="top" ngbTooltip="Modifier Abonnement">
                                        <a class=" dropdown_icon" 
                                        (click)="openUpdateAbonnement(abonnement)">
                                        <i class="fa fa-pencil-square-o"></i> </a>  
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Ajouter Modem">
                                        <a class=" dropdown_icon" 
                                        (click)="openAddModem(abonnement)">
                                        <i class='bx bxs-plus-square' ></i> </a>  
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Archiver Abonnement">
                                        <a class=" dropdown_icon" 
                                        (click)="ArchiverAbonnement(abonnement)">
                                        <i class='bx bxs-archive'></i> </a>  
                                    </div>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div *ngIf="!abonnements" class="alert alert-warning">
                        <h2>Aucun Abonnement Trouvé</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>