<ng-template #contentMore let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Agence Intitule :  {{pdvToShow.intitule}}</h2>
                </div>
                <div class="card-body">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p class="small text-muted ">Détails :  <span>{{pdvToShow.details}}</span></p>
                        <p class="small text-muted ">ADRESSE COMPLETE: <span>{{pdvToShow.adresse}}</span></p>
                      </div>
                </div>
            </div>
        </div>
    </div>
  </ng-template>



<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <div class="col-sm-2 createSegment"> 
                        <a [routerLink]="'/add-pdv'" class="btn dim_button create_new"><span class="glyphicon glyphicon-plus"></span>Ajouter un Point de Vente</a>
                    </div>
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">Type</th>
                                <th style="min-width:50px;">Code</th>
                                <th style="min-width:50px;">Intitule</th>
                                <th style="min-width:50px;">Contact</th>
                                <th style="min-width:50px;">Telephone</th>
                                
                                <th style="min-width:50px;">Agence Mére</th>
                                <th style="min-width:50px;">Région</th>
                                <th style="min-width:50px;">Etat</th>
                                
                                <th style="min-width:80px;">Active</th>
                                <th style="min-width:50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let point of points">
                                <td>{{point.type}}</td>
                                <td>{{point.code}}</td>
                                <td>{{point.intitule}}</td>
                                <td>{{point.contact}}</td>
                                <td>{{point.tel}}</td>
                               
                                <td>{{point.agence_mere}}</td>
                                <td>{{point.region}}</td>
                                <td>{{point.etat}}</td>
                               
                                <td>
                                    <span *ngIf="point.active === true" class="mode mode_on">active</span>
                                    <span *ngIf="point.active === false" class="mode mode_off">inactive</span>
                                </td>
                                <td>
                                    <div class="btn-group" placement="top" ngbTooltip="Modifier Point de Vente">
                                        <a class=" dropdown_icon" 
                                        (click)="openUpdatePoint(point)">
                                        <i class="fa fa-pencil-square-o"></i> </a>
                                        
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Archiver Point">
                                        <a class=" dropdown_icon" 
                                        (click)="ArchiverPoint(point)">
                                        <i class='bx bxs-archive'></i> </a>  
                                    </div>
                                    <div class="btn-group" placement="top" ngbTooltip="Plus Informations">
                                        <a class=" dropdown_icon" 
                                        (click)="showPDV(point , contentMore)">
                                        <i class='bx bxs-show'></i></a>  
                                    </div>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div *ngIf="!points" class="alert alert-warning">
                        <h2>Aucun Point de Vente Trouvé</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>