<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <div class="col-sm-2 createSegment"> 
                        <a [routerLink]="'/'" class="btn dim_button create_new"><span class="glyphicon glyphicon-plus"></span>Ajouter un Point de Vente</a>
                    </div>
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">Type</th>
                                <th style="min-width:50px;">Code</th>
                                <th style="min-width:50px;">Intitule</th>
                                <th style="min-width:50px;">Contact</th>
                                <th style="min-width:50px;">Telephone</th>
                                <th style="min-width:100px;">Adresse</th>
                                <th style="min-width:50px;">Agence Mére</th>
                                <th style="min-width:50px;">Région</th>
                                <th style="min-width:50px;">Etat</th>
                                <th style="min-width:150px;">Détails</th>
                                <th style="min-width:50px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let point of points">
                                <td>{{point.type}}</td>
                                <td>{{point.code}}</td>
                                <td>{{point.intitule}}</td>
                                <td>{{point.contact}}</td>
                                <td>{{point.tel}}</td>
                                <td>{{point.adresse}}</td>
                                <td>{{point.agence_mere}}</td>
                                <td>{{point.region}}</td>
                                <td>{{point.etat}}</td>
                                <td>{{point.details}}</td>
                                <td>
                                    <div class="btn-group" placement="top" ngbTooltip="Modifier Point de Vente">
                                        <a class=" dropdown_icon" 
                                        (click)="openUpdatePoint(point)">
                                        <i class="fa fa-pencil-square-o"></i> </a>
                                        
                                    </div>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div *ngIf="!points" class="alert alert-warning">
                        <h2>Aucun Point de Vente Trouvé</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>