<div class="container p-30">
    <div class="row">
        <div class="col-md-12 main-datatable">
            <div class="card_body">
                <div class="row d-flex">
                    <div class="col-sm-2 createSegment"> 
                        <a [routerLink]="'/add-agentTT'" class="btn dim_button create_new"><span class="glyphicon glyphicon-plus"></span>Ajouter un Agent TT</a>
                    </div>
                <div class="overflow-x">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width:100%;" id="filtertable" class="table cust-datatable dataTable no-footer">
                        <thead>
                            <tr>
                                <th style="min-width:300px;">Nom Complet</th>
                                <th style="min-width:300px;">Adresse Email</th>
                                <th style="min-width:250px;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let agent of agentsTT">
                                <td>{{agent.name}}</td>
                                <td>{{agent.email}}</td>
                                <td>
                                    <div class="btn-group" placement="top" ngbTooltip="Modifier Agent TT">
                                        <a class=" dropdown_icon" 
                                        (click)="openUpdateAgentTT(agent)">
                                        <i class="fa fa-pencil-square-o"></i> </a>
                                        
                                    </div>
                                    <div class="btn-group" placement="top" 
                                    ngbTooltip="Envoyer Mail TT"
                                  
                                    > 
                                        <a class="dropdown_icon" 
                                        (click)="openContactAgentTT(agent)"
                                        >
                                        <i class='bx bx-mail-send'></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody> 
                    </table>
                    <div *ngIf="!agentsTT" class="alert alert-warning">
                        <h2>Aucun Agent TT Trouvé</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>